.site-header {
    padding-inline: var(--gutter-spacing);
    margin-inline: auto;
    margin-block: var(--space-m);

    & > .cluster {
        --cluster-justify: space-between;
    }

    & nav .cluster {
        --cluster-justify: flex-start;
    }
}

@media screen and (max-width: 640px) {
    .site-header {
        & nav .cluster {
            margin-block-start: var(--space-xs);
            row-gap: var(--space-2xs);
        }
    }
}
