<div class="section-spacing half">
    <div class="content-wrapper">
        <div class="flow presto | text-center">
            <i class="fa-sharp fa-light fa-check-circle fa-lg" color="var(--success-9)"></i>
            <p class="text-step-1">{{ text }}</p>
        </div>
    </div>
</div>
