<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% render 'partials/components/head_meta.liquid',
            data: data,
            site_settings: sanity.site_settings,
            page: page,
            eleventy: eleventy
        %}
        {% render 'partials/components/head_assets.liquid' %}
    </head>
    <body>
        {% assign main_navigation = sanity.navigation | find: '_id', '9bc06c89-9fbf-4d77-878d-76da31b376b4' %}
        {% render 'partials/components/site_header.liquid', navigation: main_navigation %}
        {% block main %}
        {% endblock %}
        {% render 'partials/components/site_footer.liquid',
            navigation: main_navigation,
            site_settings: sanity.site_settings
        %}
    </body>
</html>
